@import url("./NewsComponents/Nav/nav.scss");
@import url("./NewsComponents/HotTopics/hottopics.scss");
@import url("./NewsComponents/LatestNews/latestnews.scss");
@import url("./NewsComponents/SingleNewsPage/singlenews.scss");

.todo {
  &__list {
    display: flex;
    flex-direction: column-reverse;
  }
  &__item {
    border: 1px solid black;
    padding: 20px;
    margin: 10px 0;
    &-btn {
      width: 30px;
      font-size: large;
    }
    h3 {
      line-break: loose;
    }
    &.important {
      order: 0;
      .todo__item-btn.imp {
        background-color: gold;
      }
    }
    &.done {
      .todo__item-btn.dne {
        background-color: green;
      }
    }
    &.edited {
      background-color: aliceblue;
    }
  }
}