.mb-swiper{
  overflow: hidden;
  width: 100%;
  h1.title{
      font-size: 48px;
      margin-bottom: 20px;
  }
  .hot-topics-main{
      display: flex;
      height: 400px;
      justify-content: space-between;
      max-height: 400px;
      overflow: hidden;
      width: 300%;
      &-in{
          max-height: 100%;
          max-width: 33.3333%;
          overflow: hidden;
          .hot-topics__slide{
              display: inline;
              display: flex;
              height: 100%;
              position: relative;
              width: 100%;
              .hot-img {
                  -webkit-filter: brightness(.8);
                  filter: brightness(.8);
                  object-fit: contain;
                  & + h3{
                      bottom: 59%;
                      color: #fff;
                      font-family: Playfair Display;
                      font-size: 32px;
                      font-style: normal;
                      font-weight: 700;
                      left: 3.9%;
                      line-height: 150%;
                      max-width: 500px;
                      position: absolute;
                  }
              }
              .bottom{
                  -webkit-text-fill-color: #fff;
                  bottom: 50%;
                  display: flex;
                  gap: 20px;
                  left: 32px;
                  position: absolute;
                  p{
                      &::first-letter{
                          font-size: 16px;
                      }
                      font-family: sans-serif;
                  }
              }
              p{
                  color: #444;
                  font-family: Playfair Display;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 180%;
                  max-height: 100%;
                  padding-left: 20px;
              }
          }
      }
      @media (max-width: 1330px) {
          .hot-topics__slide{
              display: block;
              height: 800px;
              .hot-img{
                  object-fit: cover;
                  max-width: 100%;
                  height: auto;
              }
              .hot-img + h3{
                  top: 12vw;
                  font-size: 4.2vw;
                  height: fit-content;
                  width: fit-content;
              }
              & > p{
                  padding: 0;
                  margin: 0;
                  max-width: 100%;
                  font-size: 24px;
              }
              .bottom {
                  top: 37vw;
                  width: fit-content;
                  height: fit-content;
                  left: 2%;
                  p{
                      &::first-letter{
                          font-size: 2.6vw;
                      }
                      font-size: 2.6vw;
                  }
              }
              height: 1000px;
          }
          max-height: 800px;
      }
      .right.desc{
          height: fit-content;
          width: 100%;
          top: 40vw;
      }
  }
  #slider {
  max-width: 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
  }
  #slider {
  animation: progress 1s infinite;
  }
  #move {
  max-width: 100%;
  width: 100%;
  animation: slideup 100s infinite 1.5s;
  }
  
  figure {
  animation: fade 100s infinite 1.5s;
  }

  @media (min-width: 1331px) {
      @keyframes slideup {
          0%,
          10% {
              margin-top: 0;
          }
          10.1%,
          20% {
              margin-top: -51%;
          }
          20.1%,
          30% {
              margin-top: -102%;
          }
          30.1%,
          40% {
              margin-top: -154%;
          }
          40.1%,
          50% {
              margin-top: -208%;
          }
          50.1%,
          60% {
              margin-top: -260%;
          }
          60.1%,
          70% {
              margin-top: -312%;
          }
          70.1%,
          80% {
              margin-top: -354%;
          }
          80.1%,
          90% {
              margin-top: -408%;
          }
          90.1%,
          100% {
              margin-top: -460%;
          }
          }
          @keyframes fade {
          10%,
          20%,
          30%,
          40%,
          50%,
          60%,
          70%,
          80%,
          90%,
          100% {
              opacity: 0;
          }
          2%,
          8%,
          13%,
          18%,
          23%,
          28%,
          33%,
          38%,
          43%,
          48%,
          53%,
          58%,
          63%,
          68%,
          73%,
          78%,
          83%,
          88%,
          93%,
          98% {
              opacity: 1
          }
          }
          
          @keyframes progress {
          to {
              background-size: 100% 100%, 100% 100%, 100% 5px;
          }
          }   
  }
  
}