.todo{
    .dfjsb{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        button{
            height: 45%;
        }
    }
    min-height: 70vh;
}